# OS files
.DS_Store
Thumbs.db

# Object files
*.o

# Static libraries
*.lib
*.a

# Dynamic libraries
*.dll
*.so

# Binaries
*.exe
*.out
main

# Code editor files
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
